@charset "utf-8";
/* CSS Document */
@font-face {
font-family: 'UTMFacebookKT';
src: url('../fonts/UTMFacebookK-T.ttf') format("truetype");
font-weight:normal;
font-style:normal;
}
@font-face {
font-family: 'UTMFacebookKTBold';
src: url('../fonts/UTMFacebookK-TBold.ttf') format("truetype");
font-weight:bold;
font-style:normal;
}
@font-face {
font-family: 'UTMFacebookKTBoldItalic';
src: url('../fonts/UTMFacebookK-TBold-Italic.ttf') format("truetype");
font-weight:bold;
font-style:italic;
}



body {margin: 0; padding: 0; background-color:#092b2f !important}
.font-1vw {font-size: 1vw;}
.font-2vw {font-size: 2vw;}
.font-3vw {font-size: 3vw;}
.font-3vwlarge {font-size: 3vw;}
.font-UTMFacebookKT {font-family: UTMFacebookKT;}
.font-UTMFacebookKTBold {font-family: UTMFacebookKTBold;}
.font-UTMFacebookKTBoldItalic {font-family: UTMFacebookKTBoldItalic;}
.text-blue {color:#208081 !important;}
.text-shadow { text-shadow: 0 2px 0 #333,
               0 0 5px rgba(51,51,51,.1),
               0 1px 3px rgba(51,51,51,.3),
               0 3px 5px rgba(51,51,51,.2),
               0 5px 10px rgba(51,51,51,.25),
               0 10px 10px rgba(51,51,51,.2),
               0 10px 10px rgba(51,51,51,.15);
}
.p-2rem {padding: 2rem !important;}
.wrap {max-width: 640px !important; width: 100%; height: auto; display: block;}
.s-top {background:url(../images/bg-top.png) no-repeat; background-size: 100%; background-position: top center; min-height: 300px; height: 40vh; z-index:8}
.s-top .nav {background:url(../images/bg-top-menu.png) no-repeat; background-size: 100%; min-height: 27px;}
.s-btn-options {position: absolute; bottom: 5%;}
.s-bvd {background:url(../images/bg-bvd.png) no-repeat; background-size: 100%; background-position: top center; min-height: 295px; height: 36vh; margin-top: -7px; z-index: 10}
.s-bvd .tab-content {height: 30vh; overflow-y: scroll;}
.s-bvd .nav {padding-top: 10%;}
.s-bvd .nav a.active {text-decoration: underline;}
.page-item.active .page-link {text-decoration: underline}
.s-bottom {background:url(../images/bg-bottom.png) no-repeat; background-size: 100%; background-position: top center; min-height: 300px; height: 40vh;}
.group-logo {background:url(../images/bg-logo-group.png) no-repeat; background-size: 100%; background-position: top center; min-height: 40px; height: 6vh;}
.modal-huongdan, .modal-gt {font-family: Tahoma, Verdana, arial;}
.modal-huongdan .bg-pop-hd-top {background:url(../images/bg-popup-hd-top.png) no-repeat; background-size: 100%; background-position: top center; width:100%;}
.modal-huongdan .bg-pop-hd-body, .modal-gt .bg-pop-gt-body, .modal-td .bg-pop-td-body, .modal-tb .bg-pop-tb-body, .modal-mq .bg-pop-mq-body, .modal-datcuoc .bg-pop-datcuoc-body, .modal-tb_err_m .bg-pop-tb_err_m-body {background:url(../images/bg-popup-hd-body.png) repeat-y; background-size: 100%; background-position: top center; width:100%;}
.modal-huongdan .bg-pop-hd-bottom, .modal-gt .bg-pop-gt-bottom, .modal-td .bg-pop-td-bottom, .modal-tb .bg-pop-tb-bottom, .modal-mq .bg-pop-mq-bottom, .modal-datcuoc .bg-pop-datcuoc-bottom, .modal-tb_err_m .bg-pop-tb_err_m-bottom {background:url(../images/bg-popup-hd-bottom.png) no-repeat; background-size: 100%; background-position: top center; width:100%;}
.bg-pop-hd-top .tab-hd, .bg-pop-td-top .tab-hd {position: absolute; bottom: 0; left: 0}
.tab-hd .nav .active {background-color:rgba(255, 0, 0, 0.3);}
.modal-gt .bg-pop-gt-top {background:url(../images/bg-popup-gt-top.png) no-repeat; background-size: 100%; background-position: top center; width:100%;}
.modal-td .bg-pop-td-top {background:url(../images/bg-popup-td-top.png) no-repeat; background-size: 100%; background-position: top center; width:100%;}
.modal-tb_err_m .bg-pop-tb_err_m-top {background:url(../images/bg-popup-tb-top.png) no-repeat; background-size: 100%; background-position: top center; width:100%;}
.modal-tb .bg-pop-tb-top {background:url(../images/bg-popup-tb-top.png) no-repeat; background-size: 100%; background-position: top center; width:100%;}
.modal-mq .bg-pop-mq-top {background:url(../images/bg-popup-mq-top.png) no-repeat; background-size: 100%; background-position: top center; width:100%;}
.modal-datcuoc .bg-pop-datcuoc-top {background:url(../images/bg-popup-dc-top.png) no-repeat; background-size: 100%; background-position: top center; width:100%;}
.bg-ltt {width: 100%; height:100vh; background: url(../images/bg-page-play.png) no-repeat center center; background-size: 100%; background-position: top center}
.bg-ltt .box-banthang {position: absolute; top: 0; left: 0; background: url(../images/bg-banthang.png) no-repeat center center; background-size: 100%; width: 20%; height: 21%;}
.bg-ltt .box-bxh {position: absolute; top: 33%; left: 2%; background: url(../images/bg-bangxephang.png) no-repeat center center; background-size: 100%; width: 20%; height: 50%;}
.bg-ltt .box-bxh-duatop {position: absolute; top: 33%; left: 2%; background: url(../images/btn-suttudong.png) no-repeat center center; background-size: 100%; width: 20%; height: 14%;}
.bg-ltt .box-suttudong {position: absolute; bottom: 1%; left: 2%; width: 20%; height: 14%; background: url(../images/btn-suttudong.png) no-repeat center center; background-size: 100%;}
.bg-ltt .box-title {position: absolute; top: 0; left: 0; right: 0; margin-left: auto; margin-right: auto; width: 40%; height: 11%; background: url(../images/bg-title-loaitructiep.png) no-repeat center center; background-size: 100%;}
.bg-ltt .box-title-duatop {position: absolute; top: 0; left: 0; right: 0; margin-left: auto; margin-right: auto; width: 40%; height: 11%; background: url(../images/bg-title-duatop.png) no-repeat center center; background-size: 100%;}
.bg-ltt .box-title-giathuvang {position: absolute; top: 0; left: 0; right: 0; margin-left: auto; margin-right: auto; width: 40%; height: 11%; background: url(../images/bg-title-giathuvang.png) no-repeat center center; background-size: 100%;}
.bg-ltt .box-userinfo {position: absolute; top: 0; right: 0; background: url(../images/bg-taikhoan.png) no-repeat center center; background-size: 100%; width: 22%; height: 12%}
.box-banthang .text-banthang {position: absolute; left: 47%; bottom: 1%; z-index: 100}
.box-time {position: absolute; top: 10%; left: 0; right: 0; margin-left: auto; margin-right: auto; width: 20%; height: 10%; }
.box-giaithuong {position: absolute; top: 17%; left: 0; right: 0; margin-left: auto; margin-right: auto; width: 35%; height: 11%; background: url(../images/bg-giaithuong.png) no-repeat center center; background-size: 100%;}
.box-giaithuong-duatop {position: absolute; top: 17%; left: 0; right: 0; margin-left: auto; margin-right: auto; width: 35%; height: 11%; background: url(../images/bg-giaithuong-duatop.png) no-repeat center center; background-size: 100%;}
.box-giaithuong-giathuvang {position: absolute; top: 17%; left: 0; right: 0; margin-left: auto; margin-right: auto; width: 35%; height: 10%; background: url(../images/bg-giaithuong-giathuvang.png) no-repeat center center; background-size: 100%;}
.modal-backdrop { opacity:0.9 !important;}
.border-giaithuong-e {border: solid 1px #800000; border-radius: 8px}
.img-dacochu {position: absolute; top: 30%; left: 35%}

/* .pag-custom_m .page-item_m {margin: 5px;}
.pag-custom_m .page-link_m {background-color: #fcc316; border-color: #fcc316; border-radius: 4px; color:#FFFFFF; padding: 1px 5px}
.pag-custom_m .page-be_m {background-color: #b30101; border-color: #b30101;}
.pag-custom_m .page-item_m.active .page-link_m {background-color: #b30101; border-color: #b30101;} */


.session-chonroom {background-image: url(../images/bg-session-chonroom.png); background-repeat: no-repeat; background-position: top; background-size: 100% 100%; width: 100%; height: 120px; margin: 0 auto;}
.session-chonroom .scr-c {display: inline-block; text-align: center; padding: 10px 0 0 10px; height: 50px;}
.session-chonroom .scr-status-open  {display: inline-block; position: absolute; top: 8px; right: 0; width: 90px; height: 28px; background-image: url(../images/bg-chonroom-status-open.png); background-repeat: no-repeat; background-position: top; background-size: 100% 100%;}
.session-chonroom .scr-status-pending  {display: inline-block; position: absolute; top: 8px; right: 0; width: 90px; height: 28px; background-image: url(../images/bg-chonroom-status-pending.png); background-repeat: no-repeat; background-position: top; background-size: 100% 100%;}
.session-chonroom .scr-status-close  {display: inline-block; position: absolute; top: 8px; right: 0; width: 90px; height: 28px; background-image: url(../images/bg-chonroom-status-close.png); background-repeat: no-repeat; background-position: top; background-size: 100% 100%;}
.text-warning-50 {color:#fefdc3}
.pt-5px {padding-top: 5px !important;}
.pb-3px {padding-bottom: 3px !important;}
.session-chonroom .scr-info {position: absolute; top: 40px ; right: 10px; width: 100%; height: 50px; text-align: right;  padding: 0 0 0 10px}
.session-chonroom .scr-playnow {position: absolute; bottom: 0 ; left: 0; width: 100%; height: 25px; text-align: center;}

.s-bvd .nav .nav-item .nav-link.active {
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6, 0 0 40px #ff4da6;
  }
}


@media screen and (min-width:480px){
.font-3vw {font-size: 14px;}
.font-2vw {font-size: 11px;}
.s-top {min-height: 500px; height: 40vh;}
.s-bvd {min-height:300px; height: 50vh;}
.s-bvd .nav {padding-top: 11%;}
.s-top .nav {min-height: 35px;}
}
@media screen and (min-width:480px) and (orientation:landscape){
.s-bvd {min-height: 400px !important; height: 40vh;}
.group-logo {min-height: 85px;}
.s-top .nav {min-height: 45px;}
.modal-header.bg-pop-hd-top .btn-close {margin-top: 0;}
}
@media screen and (min-width:413px){
  .s-bvd {min-height:300px; height: 40vh;}
}
