@charset "utf-8";
/* CSS Document */
@font-face {
font-family: 'UTMFacebookKT';
src: url('../fonts/UTMFacebookK-T.ttf') format("truetype");
font-weight:normal;
font-style:normal;
}
@font-face {
font-family: 'UTMFacebookKTBold';
src: url('../fonts/UTMFacebookK-TBold.ttf') format("truetype");
font-weight:bold;
font-style:normal;
}
@font-face {
font-family: 'UTMFacebookKTBoldItalic';
src: url('../fonts/UTMFacebookK-TBold-Italic.ttf') format("truetype");
font-weight:bold;
font-style:italic;
}


/* background-color:#092b2f !important */
body {margin: 0; padding: 0;}
.font-1vw_web {font-size: 1vw;}
.font-2vw_web {font-size: 2vw;}
.font-3vw_web {font-size: 3vw;}
.font-4vw_web {font-size: 4vw;}
.font-UTMFacebookKT {font-family: UTMFacebookKT;}
.font-UTMFacebookKTBold {font-family: UTMFacebookKTBold;}
.font-UTMFacebookKTBoldItalic {font-family: UTMFacebookKTBoldItalic;}
.text-blue_web {color:#208081 !important;}
.p-2rem_web {padding: 1rem 2rem 2rem 2rem !important;}
.wrap_web {max-width: 768px !important; width: 100%; height: auto; display: block;}
.s-bvd_web {background:url(../images/bg-bvd.png) no-repeat; background-size: 100%; background-position: top center; height: 550px; margin-top: -7px; z-index: 10}
.s-bvd_web .nav {padding-top: 11%;}
.s-bvd_web .nav a.active {text-decoration: underline;}
.s-top_web {height: 550px; z-index:8}
.s-top_web .nav {background:url(../images/bg-top-menu.png) no-repeat; background-size: 100%;}
.s-btn-options_web {position: absolute; bottom: 5%;}
.page-item.active .page-link {text-decoration: underline}
.s-bottom_web {height: 590px;}
.group-logo_web {background:url(../images/bg-logo-group.png) no-repeat; background-size: 100%; background-position: top center; height: 100px;}
.modal-huongdan_web, .modal-gt {font-family: Tahoma, Verdana, arial;}
.modal-huongdan_web .bg-pop-hd_web-top {background:url(../images/bg-popup-hd-top.png) no-repeat; background-size: 100%; background-position: top center; width:100%;}
.modal-huongdan_web .bg-pop-hd_web-body, .modal-gt_web .bg-pop-gt-body, .modal-td_web .bg-pop-td-body, .modal-tb_web .bg-pop-tb-body, .modal-mq_web .bg-pop-mq-body, .modal-datcuoc_web .bg-pop-datcuoc-body, .modal-tb_err_web .bg-pop-tb_err-body  {background:url(../images/bg-popup-hd-body.png) repeat-y; background-size: 100%; background-position: top center; width:100%;}
.modal-huongdan_web .bg-pop-hd_web-bottom, .modal-gt_web .bg-pop-gt-bottom, .modal-td_web .bg-pop-td-bottom, .modal-tb_web .bg-pop-tb-bottom, .modal-mq_web .bg-pop-mq-bottom, .modal-datcuoc_web .bg-pop-datcuoc-bottom, .modal-tb_err_web .bg-pop-tb_err-bottom{background:url(../images/bg-popup-hd-bottom.png) no-repeat; background-size: 100%; background-position: top center; width:100%;}
.bg-pop-hd_web-top .tab-hd_web, .bg-pop-td_web-top .tab-hd_web {position: absolute; bottom: 0; left: 0; height: 45px;}
.tab-hd_web .nav .active {background-color:rgba(255, 0, 0, 0.3);}
.modal-gt_web .bg-pop-gt-top {background:url(../images/bg-popup-gt-top.png) no-repeat; background-size: 100%; background-position: top center; width:100%;}
.modal-td_web .bg-pop-td_web-top {background:url(../images/bg-popup-td-top.png) no-repeat; background-size: 100%; background-position: top center; width:100%;}
.modal-tb_err_web .bg-pop-tb_err-top {background:url(../images/bg-popup-tb-top.png) no-repeat; background-size: 100%; background-position: top center; width:100%;}
.modal-tb_web .bg-pop-tb-top {background:url(../images/bg-popup-tb-top.png) no-repeat; background-size: 100%; background-position: top center; width:100%;}
.modal-mq_web .bg-pop-mq-top {background:url(../images/bg-popup-mq-top.png) no-repeat; background-size: 100%; background-position: top center; width:100%;}
.modal-datcuoc_web .bg-pop-datcuoc-top {background:url(../images/bg-popup-dc-top.png) no-repeat; background-size: 100%; background-position: top center; width:100%;}
.page-fluid_web {background:url(../images/bg-page.png) no-repeat top left; min-height: 100%; min-width: 768px; width: 100%; height: auto; background-size: 100%}
#huongdan_web .modal-dialog, #gt_web .modal-dialog, #td_web .modal-dialog, #tb_web .modal-dialog, #mq_web .modal-dialog, #datcuoc_web .modal-dialog, #tb_err .modal-dialog {max-width: 600px !important;}

/* .pag-custom .page-item {margin: 5px;}
.pag-custom .page-link {background-color: #fcc316; border-color: #fcc316; border-radius: 4px; color:#FFFFFF; font-size:13px; padding: 2px 10px}
.pag-custom .page-be {background-color: #b30101; border-color: #b30101;}
.pag-custom .page-item.active .page-link {background-color: #b30101; border-color: #b30101;} */

.bg-ltt_web {width: 1200px; height:675px; background: url(../images/bg-page-play.png) no-repeat center center; background-size: 100%; background-position: top center}
.bg-ltt_web .box-banthang {position: absolute; top: 0; left: 0; background: url(../images/bg-banthang.png) no-repeat center center; background-size: 100%; width: 243px; height: 145px}
.bg-ltt_web .box-bxh {position: absolute; top: 36%; left: 20px; background: url(../images/bg-bangxephang.png) no-repeat center center; background-size: 100%; width: 223px; height: 247px}
.bg-ltt_web .box-suttudong {position: absolute; bottom: 2%; left: 20px; width: 224px; height: 65px}
.border-giaithuong-web {border: solid 1px #800000; border-radius: 8px}
.s-bvd_web .nav .nav-item .nav-link.active {
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
.btn-danger-dark {background-color: #931e23 !important; color: #fff !important;}
.session-chonroom_web {background-image: url(../images/bg-session-chonroom.png); background-repeat: no-repeat; background-position: top; background-size: 100% 100%; width: 100%; height: 160px; margin: 0 auto;}
.session-chonroom_web .scr-c {display: inline-block; text-align: center; padding: 10px 0 0 10px; height: 50px;}
.session-chonroom_web .scr-status-open  {display: inline-block; position: absolute; top: 18px; right: 0; width: 100px; height: 32px; background-image: url(../images/bg-chonroom-status-open.png); background-repeat: no-repeat; background-position: top; background-size: 100% 100%;}
.session-chonroom_web .scr-status-pending  {display: inline-block; position: absolute; top: 18px; right: 0; width: 100px; height: 32px; background-image: url(../images/bg-chonroom-status-pending.png); background-repeat: no-repeat; background-position: top; background-size: 100% 100%;}
.session-chonroom_web .scr-status-close  {display: inline-block; position: absolute; top: 18px; right: 0; width: 100px; height: 32px; background-image: url(../images/bg-chonroom-status-close.png); background-repeat: no-repeat; background-position: top; background-size: 100% 100%;}
.text-warning-50 {color:#fefdc3}
.pt-5px {padding-top: 5px !important;}
.pb-3px {padding-bottom: 3px !important;}
.session-chonroom_web .scr-info {position: absolute; top: 55px ; right: 0; width: 100%; height: 50px; text-align: right; padding: 0 10px}
.session-chonroom_web .scr-playnow {position: absolute; bottom: 5px ; left: 0; width: 100%; height: 25px; text-align: center;}
@-webkit-keyframes glow {
from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
}
to {
    text-shadow: 0 0 10px #fff, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 25px #ff4da6, 0 0 30px #ff4da6, 0 0 35px #ff4da6, 0 0 40px #3d2531;
}
}

@media screen and (min-width:480px){
.font-3vw_web {font-size: 15px;}
.font-2vw_web {font-size: 13px;}
}
@media screen and (min-width:1440px){
.s-top_web {height: 650px;}
}
